In [91]:
sname="manoj nigam"

In [92]:
print(sname)

manoj nigam

In [227]:
a,b,c=5,3,"pune"
print(a)

5

In [228]:
print(c,"is of type",type(c))

pune is of type <class 'str'>

In [93]:
fname="manoj"
lname="nigam"
print(fname+""+lname)

manojnigam

In [94]:
print(fname+lname)

manojnigam

In [95]:
print(fname+" "+lname)

manoj nigam

In [96]:
print("my name is: "+fname+" "+lname)

my name is: manoj nigam

In [97]:
fname="namita"

In [98]:
print("my name is: "+fname+" "+lname)

my name is: namita nigam

In [99]:
a,b,c=5,3,"manoj"

In [100]:
print(a+b)

8

In [101]:
print(type(a))

<class 'int'>

In [102]:
print(type(c))

<class 'str'>

In [103]:
print(isinstance(a,int))

True

In [104]:
print(isinstance(c,int))

False

In [229]:
d='''testing multiple lines 
      of text'''

In [230]:
print(d)

testing multiple lines
      of text

In [107]:
print(a)
print(b)

5
3

In [108]:
e=3

In [ ]:
# operators
# arithmetic, comparison, assignment, logical, bitwise
# comparison operator - to compare values, return True or false

In [109]:
print(a>b)

True

In [231]:
print('a==b is',a==b) #to check whether equal

a==b is False

In [111]:
print(bool(e))

True

In [112]:
print(a/b)

1.6666666666666667

In [113]:
print(a//b)

1

In [114]:
print('a**b=',a**b)

a**b= 125

In [115]:
print('a>b is',a>b)

a>b is True

In [116]:
print('a!=b is', a!=b)

a!=b is True

In [117]:
a+=5
#d +=10 equivalent to d=d+10

In [118]:
print(a)

10

In [119]:
a=19

In [120]:
# Logical operator - and, or , not
# and/or= true if both/either operands are true

print(a<20 and b<20)

True

In [121]:
print(a>15 or b>15)

True

In [122]:
print(a>15 or b>15) # python code to check or

True

In [123]:
my_function():
    print("Hello Python")
    print("my_function()") # wrong code

SyntaxError: invalid syntax (1912745466.py, line 1)

In [ ]:
def my_function():
    print("Hello Python")

In [124]:
my_function()

Hello Python

In [136]:
import array as arr
a=arr.array("I",(3,6,9))

In [137]:
print(a[0])

3

In [ ]:
cars=["merc","bmw","ford"]

In [138]:
print(cars)

['merc', 'bmw', 'ford']

In [133]:
print(cars[0])

merc

In [ ]:
famly=["Devansh","Mummy","Pops","Raddy"]

In [ ]:
famly=["Devansh","Mummy","Pops","Raddy"]

In [130]:
print(famly[2])

Pops

In [ ]:
obj_myclass=myclass()

In [ ]:
print(obj_myclass.x)

In [125]:
class myclass: 
    x=10
    y=20
    def print_myclass(self):
        print(x)
        print(y)

In [ ]:
Obj1=myclass()

In [126]:
print(Obj1.x)

10

In [127]:
obj1.print_myclass 
#throws error as print(self.x) should hv bn used

AttributeError: 'resident' object has no attribute 'print_myclass'

In [ ]:
class resident: 
    name='manoj'
    age='42'
    
    def show(self):
        print('Name:', self.name, 'Age:', self.age)

In [ ]:
class resident: 
    name='manoj'
    age='42'
    
    def show(self):
        print('Name:', self.name, 'Age:', self.age)

In [ ]:
obj1=resident()

In [129]:
print(obj1.name)

manoj

In [128]:
obj1.show()

Name: manoj Age: 42

In [ ]:
class resident: 
    name='manoj'
    age='42'
    
    def show(self):
        print('Name:', name, 'Age:', age)

In [ ]:
obj1=resident()

In [140]:
print(obj1.name)

manoj

In [ ]:
class resident: 
    name='manoj'
    age='42'
    
    def show(self):
        print('Name:', self.name, 'Age:', self.age)

In [ ]:
obj1=resident()

In [139]:
obj1.show()

Name: manoj Age: 42

In [ ]:
class resident: 
    
    def __init__(self, name, age):
        # Instance variable
        self.name = name
        self.age = age
    
    def show(self):
        print('Name:', self.name, 'Age:', self.age)

In [ ]:
obj1=resident('manoj','42')

In [ ]:
obj2=resident('namita','43')

In [141]:
obj1.show()

Name: manoj Age: 42

In [142]:
obj2.show()

Name: namita Age: 43

In [ ]:
lm1= lambda a:a+10 #lambda function

In [143]:
print(lm1(20))

30

In [ ]:
def fxn_add(a,b):
    print(a+b)

In [144]:
fxn_add(10,20)

30

In [ ]:
#lambda fxn having two arguments 
# Lambda can have any number of arguments, but only 1 expression

x=lambda a,b: a*b

In [145]:
print(x(10,20))

200

In [146]:
#importing mymodule.py python module(python source code 
#with the .py extension)
# mymodule has been converted to py, it shouldnt have errors 
# it has a funtion, myfunction() to print ..(argumetn)...is my best buddy
# it also has a class named resident having show() function
import mymodule

In [147]:
mymodule.myfunction("Manoj")

Manoj  is my best buddy

In [148]:
obj1 = mymodule.resident("manoj", "45")

In [149]:
obj1.show()

Name: manoj Age: 45

In [ ]:
# exception handling

# try block tests a block of code for errors, 
# except block lets u handle th eroor
# else block execute when no error
# finally block execute regardless of result of try and except

In [150]:
try:
    print(name)
except:
    print("an exception occured...")
else:
    print("code has no error")
finally:
    print("final destination")

an exception occured...
final destination

In [151]:
try:
    name='manoj'
    print(name)
except:
    print("an exception occured...")
else:
    print("code has no error")
finally:
    print("final destination")

manoj
code has no error
final destination

In [155]:
try:
    print(xyz)
except NameError:
    print("Variable xyz is not defined")
except:
    print("something else went wrong.")
else:
    print("code has no error")
finally:
    print("final destination")

Variable xyz is not defined
final destination

In [160]:
try:
    xyz=10
    print(xyz/0)
except NameError:
    print("Variable xyz is not defined")
except:
    print("something else went wrong.")
else:
    print("code has no error")
finally:
    print("final destination")

something else went wrong.
final destination

In [208]:
#collections
#list 
#ordered, changeable, indexed[0,1,2...] and allow duplicate values.
# items have a defined order, and that order will not change.
# we can change, add, and remove items 
# Since lists are indexed, lists can have items with the same value:


list1=["apple","mango","banana"] # square brackets used

print(list1)

['apple', 'mango', 'banana']

In [209]:
# It is also possible to use the list() constructor when creating a new list.
thislist = list(("apple", "banana", "cherry")) 
# note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [210]:
print(list1)

['apple', 'mango', 'banana']

In [211]:
list1[2]='cherry'

In [212]:
print(list1)

['apple', 'mango', 'cherry']

In [213]:
list1.append('mango')

In [178]:
print(list1)

['apple', 'mango', 'cherry', 'mango']

In [215]:
list1.sort()

In [216]:
print(list1)

['apple', 'cherry', 'mango', 'mango']

In [181]:
del list1[2]

In [182]:
print(list1)

['apple', 'mango', 'mango']

In [183]:
print(len(list1))

3

In [ ]:
#List is a collection which is ordered and changeable. Allows duplicate members.
#Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
#Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
#Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [184]:
thistuple = ("apple", "banana", "cherry")
#round brackets

In [214]:
del thistuple[2] # tuple doesnt support any change once created

TypeError: 'tuple' object doesn't support item deletion

In [186]:
print(thistuple[-1]) #negative means starting from last

cherry

In [217]:
print(thistuple[0:2]) # 1 included, 2 not included

('apple', 'banana')

In [188]:
print(thistuple[:2])

('apple', 'banana')

In [189]:
print(thistuple[1:])

('banana', 'cherry')

In [191]:
myset = {"apple", "banana", "cherry"} 
#curly brackets

In [192]:
print(myset)

{'cherry', 'banana', 'apple'}

In [193]:
myset = {"apple", "banana", "cherry","apple"}

In [194]:
print(myset)

{'cherry', 'banana', 'apple'}

In [196]:
myset.remove("banana")

In [197]:
print(myset)

{'cherry', 'apple'}

In [198]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [199]:
#store data values in key:value pairs. hv curly brackets

In [200]:
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [201]:
print(thisdict["brand"])

Ford

In [202]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [203]:
x = thisdict.get("model")
print(x)

Mustang

In [204]:
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [218]:
print(list1)

['apple', 'cherry', 'mango', 'mango']

In [226]:
for x in list1:
    if x=='mango':
        print("hurray! the list has "+x)
    else:
        print("oops, list has "+x)

oops, list has apple
oops, list has cherry
hurray! the list has mango
hurray! the list has mango